WA.Standard.IF.WebService/Web References/WS_Notification_v2/Notification.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s1="http://wa.dms.webservice/MessageReceiveRequest" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:import namespace="http://wa.dms.webservice/MessageReceiveRequest" />
      <s:element name="Receiver">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="request" type="s1:MessageReceiveRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReceiverResponse">
        <s:complexType />
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://wa.dms.webservice/MessageReceiveRequest">
      <s:complexType name="MessageReceiveRequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TransactionHeader" type="s1:TransactionHeader" />
          <s:element minOccurs="0" maxOccurs="1" name="MessageReceive" type="s1:MessageReceive" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TransactionHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CountryID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DistributorID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GroupID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DealerID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DMSCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DMSVersion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DMSServerUrl" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DocumentVersion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TransactionId" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TransactionDateTimeUTC" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="TransactionDateTimeLocal" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="TransactionType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RequestType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RequestPollingToken" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VenderTrackingCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IneterfaceID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PollingToken" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="MessageReceive">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="MessageID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MessageType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ActionType" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ReceiverSoapIn">
    <wsdl:part name="parameters" element="tns:Receiver" />
  </wsdl:message>
  <wsdl:message name="ReceiverSoapOut">
    <wsdl:part name="parameters" element="tns:ReceiverResponse" />
  </wsdl:message>
  <wsdl:portType name="NotificationSoap">
    <wsdl:operation name="Receiver">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">WA Notification Receiver</wsdl:documentation>
      <wsdl:input message="tns:ReceiverSoapIn" />
      <wsdl:output message="tns:ReceiverSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="NotificationHttpGet" />
  <wsdl:portType name="NotificationHttpPost" />
  <wsdl:binding name="NotificationSoap" type="tns:NotificationSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Receiver">
      <soap:operation soapAction="http://tempuri.org/Receiver" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NotificationSoap12" type="tns:NotificationSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Receiver">
      <soap12:operation soapAction="http://tempuri.org/Receiver" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NotificationHttpGet" type="tns:NotificationHttpGet">
    <http:binding verb="GET" />
  </wsdl:binding>
  <wsdl:binding name="NotificationHttpPost" type="tns:NotificationHttpPost">
    <http:binding verb="POST" />
  </wsdl:binding>
  <wsdl:service name="Notification">
    <wsdl:port name="NotificationSoap" binding="tns:NotificationSoap">
      <soap:address location="http://127.0.0.1:8080/Util/Notification.asmx" />
    </wsdl:port>
    <wsdl:port name="NotificationSoap12" binding="tns:NotificationSoap12">
      <soap12:address location="http://127.0.0.1:8080/Util/Notification.asmx" />
    </wsdl:port>
    <wsdl:port name="NotificationHttpGet" binding="tns:NotificationHttpGet">
      <http:address location="http://127.0.0.1:8080/Util/Notification.asmx" />
    </wsdl:port>
    <wsdl:port name="NotificationHttpPost" binding="tns:NotificationHttpPost">
      <http:address location="http://127.0.0.1:8080/Util/Notification.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>